header{
    background-color: rgb(42, 42, 42);
    color: white;
    border: 5px solid black;
}
ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
li{
    padding: 10px;
    border-top: 1px solid white;
   
}
.header{
    padding-left: 20px;
}
.cards {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
.card {
    border: 5px solid black;
    margin: 10px;
    padding: 0px;
  }
.cardt{
    background-color: rgb(42, 42, 42);
    color: white;
    height: 3rem; 
}
.cardb{
    margin-left: 10px;
}
h3{
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}
.excard{
    background-color: rgb(42, 42, 42);
    color: white;
    border: 5px solid black;
    padding-left: 10px;
    height: 50px;
}
@media (min-width: 641px) and (max-width: 962px){
    .nav-menu{
        display: flex;
    }
    .list-menu li{
        display: inline-block;
        border-top: none;

    }
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
    }

}
@media (min-width: 963px){
    .nav-menu{
        display: flex;
    }
    .list-menu li{
        display: inline-block;
        border-top: none;

    }
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: 30%;
    }
    .main{
        display: flex;
    }
    .left-main{
        width: 50%;
    }
    .right-main{
        width: 50%;
    }
    .excard{
        margin-top: 10px;
        height: 100%;
    }
}